# Storage (S3/Garage)
AWS_ACCESS_KEY_ID=<DIN_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<DIN_SECRET_ACCESS_KEY>
AWS_ENDPOINT_URL=<DIN_ENDPOINT_URL>
AWS_DEFAULT_REGION=<DIN_REGION>
S3_BUCKET=<DITT_BUCKET_NAMN>

# Catalog (Postgres)
PGHOST=<DIN_POSTGRES_HOST>
PGPORT=5432
PGDATABASE=<DITT_DATABAS_NAMN>
PGUSER=<DITT_ANVÄNDARNAMN>
PGPASSWORD=<DITT_LÖSENORD>
